body {
  background-color: rgb(156, 156, 156);
  padding: 0;
  display: flex;
  flex-direction: row;
}

.App {
  font-family: sans-serif;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 22px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff00;
  height: 95vh;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border: 8px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #1a1a1a;
  min-height: 5vh;

  transition: border 0.25s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  border: 7px solid rgba(0, 0, 0, 0);
  background-color: #000000;
}