.Avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  transition: box-shadow 0.1s, background-color 0.1s;
}

.Avatar:hover {
  box-shadow: 0 0 10px black;
  background-color: rgb(100, 100, 100);
}

.Message {
  display: flex;
  flex-direction: row;
  transition: background-color 0.25s;
}

.Message:hover {
  background-color: #c0c0c0;
  box-shadow: 0 0 5px gray;
}

.Message > div {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.Message > div > span {
  align-content: left;
  font-weight: bold;
}

.Message > div > p {
  margin-block: 5px;
}

.MessageList {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 3rem);
}